@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global */
/* ------------------------------------------------------------------------------------------------------- */

html {
  background: url(assets/img/back.jpeg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(28, 14, 91);
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a {
  color: #f1ebeb;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 1248px;
  padding-left: 24px;
  padding-right: 24px;
}

/* Header */
/* ------------------------------------------------------------------------------------------------------- */

header h1 {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  color: #f1ebeb;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 1px;
}

header nav {
  margin-top: 18px;
}

header ul {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 14, 91, 0.3);
}

header ul li a {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 28px;
  display: inline-block;
}

header ul li a:hover {
  background-color: rgb(28, 14, 91, 0.06);
  color: #f18d5c;
}

.mobile {
  display: none;
}

.mobile-nav-menu {
  display: none;
}

.display {
  display: none;
}

.banner {
  background-color: black;
  text-align: center;
}

.banner img {
  object-fit: cover;
  width: 1200px;
}

/* Footer */
/* ------------------------------------------------------------------------------------------------------- */
footer {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 14, 91, 0.3);
  color: #f1ebeb;
  padding-top: 28px;
  padding-bottom: 28px;
  font-style: italic;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 40px;
  font-size: 12px;
}

/* Game IMG */
/* ------------------------------------------------------------------------------------------------------- */

.games-list {
  display: flex;
  flex-wrap: wrap;
}

.game {
  background-size: cover;
  width: 175px;
  height: 263px;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 8px;
}

.game:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.game-hover {
  position: relative;
  top: -266px;
  overflow: hidden;
  opacity: 0;
}

.game-hover:hover {
  opacity: 0.5;
  top: -266px;
}

.game-01 {
  background: url(assets/img/games-thumb/game-01.png);
}

.game-02 {
  background: url(assets/img/games-thumb/game-02.png);
}

.game-03 {
  background: url(assets/img/games-thumb/game-03.png);
}

/* Game IMG */
/* ------------------------------------------------------------------------------------------------------- */

.content-chat {
  margin-top: 40px;
}

input {
  font-size: 18px;
}

input#pseudo {
  background-color: rgb(28, 14, 91, 0.5);
  color: #f1ebeb;
  padding: 12px;
  border: none;
  outline: none;
  -moz-outline-style: none;
  box-shadow: none;
  border: 1px solid rgb(28, 14, 91, 0.3);
  border-radius: 12px 0px 0px 12px;
  font-size: 17px;
}

input#pseudo:focus {
  border-color: #f18d5c;
}

.indiquer-pseudo {
  background-color: #f18d5c;
  color: #f1ebeb;
  font-size: 14px;
  font-style: italic;
  padding: 20px;
  border-radius: 8px;
}

.connectedas {
  display: inline-block;
  background-color: rgb(28, 14, 91, 0.1);
  color: #f1ebeb;
  padding: 12px;
  border: none;
  outline: none;
  -moz-outline-style: none;
  box-shadow: none;
  border: 1px solid rgb(28, 14, 91, 0.1);
  border-radius: 8px;
}

.pseudo-content {
  display: flex;
  align-items: center;
}

.super-error {
  background-color: #f1ebeb;
}

.pseudo-container .error,
.message-container .error,
.indiquer-pseudo {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.message-envoye {
  display: block;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: rgb(28, 14, 91, 0.3);
  border-radius: 8px;
  color: #f1ebeb;
}

input#submit {
  background-color: #f18d5c;
  color: #f1ebeb;
  padding: 12px;
  border: none;
  outline: none;
  -moz-outline-style: none;
  box-shadow: none;
  border: 1px solid #f18d5c;
  cursor: pointer;
  opacity: 0;
}

input#valider {
  background-color: #f18d5c;
  color: #f1ebeb;
  padding: 13px;
  border: none;
  outline: none;
  -moz-outline-style: none;
  box-shadow: none;
  border: 2px solid #f18d5c;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  margin-left: 4px;
  display: inline-block;
  margin-right: 100px;
  width: 20px;
}

.check {
  display: inline-block;
  background-color: #f18d5c;
  color: #f1ebeb;
  padding: 12px;
  border: none;
  outline: none;
  -moz-outline-style: none;
  box-shadow: none;
  border: 2px solid #f18d5c;
  cursor: pointer;
  margin-left: -49px;
}

.check2 {
  display: inline-block;
  background-color: #f18d5c;
  color: #f1ebeb;
  padding: 12px;
  border: none;
  outline: none;
  -moz-outline-style: none;
  box-shadow: none;
  cursor: pointer;
  margin-left: -136px;
  border: 2px solid #f18d5c;
}

.check2:focus,
.check2:active {
  border: 2px solid #f18d5c;
}

input#message {
  background-color: rgb(28, 14, 91, 0.5);
  color: #f1ebeb;
  padding: 12px;
  border: none;
  outline: none;
  -moz-outline-style: none;
  box-shadow: none;
  border: 1px solid rgb(28, 14, 91, 0.5);
  width: 100%;
  font-size: 17px;
  border-radius: 12px 0px 0px 12px;
}

::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid rgb(28, 14, 91, 0.2);
  background-color: rgb(28, 14, 91, 0.2);
  border-radius: 8px;
  margin-left: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 1px solid rgb(28, 14, 91, 0.5);
}

::-webkit-scrollbar-corner {
  display: none;
}

.titre-pseudo {
  margin-bottom: 24px;
}

.msg {
  margin-top: 24px;
}

.pseudal,
.pseudo-chat {
  color: #f18d5c;
  font-weight: 600;
}

input#message:active,
input#message:focus {
  border: 1px solid #f18d5c;
}

.message-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatbox {
  height: 400px;
  scrollbar-width: thin;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 100%;
  padding-right: 14px;
}

.deconnex {
}

.deconnex i {
  background-color: #f18d5c;
  color: #f1ebeb;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  margin-left: 12px;
  margin-right: -100px;
  display: inline-block;
}

div.message-envoye {
  width: 100%;
  height: auto;
}

.error {
  color: #f18d5c;
  font-style: italic;
  font-size: 14px;
}

h1 {
  color: #f1ebeb;
  margin-top: 40px;
  color: #f18d5c;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.console {
  background-color: rgb(28, 14, 91, 0.8);
  margin-top: 40px;
  height: 180px;
  border-radius: 8px;
  scrollbar-width: thin;
  overflow: scroll;
  scroll-behavior: smooth;
}

.console {
  padding: 20px;
  color: #f1ebeb;
}

.console li {
  display: flex;
  width: 100%;
  padding: 12px;
  background-color: rgb(28, 14, 91, 1);
  margin-bottom: 12px;
  border-radius: 8px;
  color: rgb(241, 235, 235, 0.2);
}

.chatbox img {
  border-radius: 16px;
  max-height: 120px;
}

.timestamp {
  color: rgb(241, 235, 235, 0.4);
  margin-right: 6px;
  font-size: 13px;
  width: 60px;
  display: inline-block;
}

.chatcontainer {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

.user-list {
  margin-left: 28px;
  background-color: rgb(28, 14, 91, 0.3);
  padding: 20px;
  border-radius: 16px;
  height: 400px;
  scrollbar-width: thin;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 280px;
}
.user-list li {
  display: block;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: rgb(28, 14, 91, 0.3);
  border-radius: 8px;
  color: #f1ebeb;
}

.user-list li span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
}

.user-list h2 {
  color: #f1ebeb;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

/* Tablette */
/* ------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 769px) and (max-width: 1300px) {
  .content {
    min-width: 768px;
    width: 100%;
    max-width: 1200px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .mobile-nav-menu {
    display: none;
  }

  .display {
    display: none;
  }
}

/* Mobile */
/* ------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .content {
    min-width: 320px;
    width: 100%;
    max-width: 768px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  ul.mobile li {
    display: flex;
    align-items: center;
    color: #f1ebeb;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    cursor: pointer;
  }

  ul.mobile li i {
    margin-right: 8px;
  }

  .display {
    display: block;
  }

  header {
    min-width: 320px;
  }

  footer {
    min-width: 320px;
  }

  .mobile-nav-menu ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-nav-menu ul li {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .mobile-nav-menu ul li a {
    display: block;
    width: 100%;
    text-align: center;
  }
}
