@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Global */
/* ------------------------------------------------------------------------------------------------------- */

html {
  background: url(assets/img/back.jpeg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(28, 14, 91);
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

a {
  color: #f1ebeb;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 1248px;
  padding-left: 24px;
  padding-right: 24px;
}

/* Header */
/* ------------------------------------------------------------------------------------------------------- */

header h1 {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  color: #f1ebeb;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 1px;
}

header nav {
  margin-top: 18px;
}

header ul {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 14, 91, 0.3);
}

header ul li a {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 28px;
  display: inline-block;
}

header ul li a:hover {
  background-color: rgb(28, 14, 91, 0.06);
  color: #f18d5c;
}

.mobile {
  display: none;
}

.mobile-nav-menu {
  display: none;
}

.display {
  display: none;
}

.banner {
  background-color: black;
  text-align: center;
}

.banner img {
  object-fit: cover;
  width: 1200px;
}

/* Footer */
/* ------------------------------------------------------------------------------------------------------- */
footer {
  display: flex;
  justify-content: center;
  background-color: rgb(28, 14, 91, 0.3);
  color: #f1ebeb;
  padding-top: 28px;
  padding-bottom: 28px;
  font-style: italic;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 40px;
  font-size: 12px;
}

/* Game IMG */
/* ------------------------------------------------------------------------------------------------------- */

.games-list {
  display: flex;
  flex-wrap: wrap;
}

.game {
  background-size: cover;
  width: 175px;
  height: 263px;
  margin-top: 42px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  border-radius: 8px;
}

.game:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.game-hover {
  position: relative;
  top: -266px;
  overflow: hidden;
  opacity: 0;
}

.game-hover:hover {
  opacity: 0.5;
  top: -266px;
}

.game-01 {
  background: url(assets/img/games-thumb/game-01.png);
}

.game-02 {
  background: url(assets/img/games-thumb/game-02.png);
}

.game-03 {
  background: url(assets/img/games-thumb/game-03.png);
}

/* Tablette */
/* ------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 769px) and (max-width: 1300px) {
  .content {
    min-width: 768px;
    width: 100%;
    max-width: 1200px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .mobile-nav-menu {
    display: none;
  }

  .display {
    display: none;
  }
}

/* Mobile */
/* ------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .content {
    min-width: 320px;
    width: 100%;
    max-width: 768px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  ul.mobile li {
    display: flex;
    align-items: center;
    color: #f1ebeb;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    cursor: pointer;
  }

  ul.mobile li i {
    margin-right: 8px;
  }

  .display {
    display: block;
  }

  header {
    min-width: 320px;
  }

  footer {
    min-width: 320px;
  }

  .mobile-nav-menu ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-nav-menu ul li {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .mobile-nav-menu ul li a {
    display: block;
    width: 100%;
    text-align: center;
  }
}
